* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .justify-content-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .progress-container {
    position: fixed;
    width: 100%;
    height: 5px;
    background: #010955;
  }
  
  .progress-bar {
    position: fixed;
    height: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#010955), color-stop(50%, #0081ff), to(#4bd084));
    background: linear-gradient(90deg, #010955 0%, #0081ff 50%, #4bd084 100%);
    width: 0%;
  }
  
  .hero {
    background: url(../img/bg.jpg) no-repeat center top/cover;
    height: 85%;
    width: 100%;
  }
  
  .item {
    background: url(../img/01.jpg) no-repeat center center/cover;
    width: 25%;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .item:nth-child(2) {
    background: url(../img/02.jpg) no-repeat center center/cover;
  }
  
  .item:nth-child(3) {
    background: url(../img/03.jpg) no-repeat center center/cover;
  }
  
  .item:nth-child(4) {
    background: url(../img/04.jpg) no-repeat center center/cover;
  }
  
  .item:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .item:hover .overlay {
    opacity: 0.5;
  }
  
  .item:hover .line {
    width: 100%;
  }
  
  .title {
    position: absolute;
    color: white;
    font-size: 40px;
    margin: -15px 0 20px 20px;
  }
  
  .icon {
    position: absolute;
    width: 4em;
    height: 4em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .icon {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 20px;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    width: 2em;
    height: 2em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .item:hover .icon {
    opacity: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #000;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  
  .line {
    height: 5px;
    display: block;
    background: linear-gradient(45deg, #0081ff 0%, #00f7ff 100%);
    bottom: 0px;
    width: 0%;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    position: absolute;
    z-index: 9;
  }
  
  .logo {
    height: 200px;
  }
  
  .logo-txt {
    height: 100%;
    margin-bottom: -19px;
  }
  
  .logo-elm {
    height: 100%;
    margin-top: -200px;
  }
  
  .logo path {
    fill: url(#my-cool-gradient) #447799;
  }
  
  stop {
    -webkit-animation: colors 12s infinite;
    animation: colors 12s infinite;
  }
  
  .stop-2 {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
  }
  
  .stop-3 {
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }
  
  @-webkit-keyframes colors {
    15% {
      stop-color: crimson;
    }
    30% {
      stop-color: gold;
    }
    45% {
      stop-color: teal;
    }
    60% {
      stop-color: yellowgreen;
    }
    75% {
      stop-color: orangered;
    }
    90% {
      stop-color: purple;
    }
  }
  
  @keyframes colors {
    15% {
      stop-color: crimson;
    }
    30% {
      stop-color: gold;
    }
    45% {
      stop-color: teal;
    }
    60% {
      stop-color: yellowgreen;
    }
    75% {
      stop-color: orangered;
    }
    90% {
      stop-color: purple;
    }
  }
  
  @font-face {
    font-family: "Russo One Regular";
    src: url("../fonts/RussoOne-Regular.eot");
    src: url("../fonts/RussoOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RussoOne-Regular.woff") format("woff"), url("../fonts/RussoOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Proxima Nova Light";
    src: url("../fonts/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Russo One Regular", sans-serif;
  }
  /* # sourceMappingURL=style.css.map */